---
import Layout from "@/layout/Layout.astro"
import { Content } from "@/data/page/privacy/index.mdx"
---

<Layout title="Политика конфиденциальности" desc="Политика обработки персональных данных сайта internetaddicts.ru">
	<article class="prose-aiz max-w-[880px] mx-auto">
		<h1>Политика конфиденциальности</h1>
		<Content />
	</article>
</Layout>
